<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            {# <img src="img/logo2.png" class="navbar-brand-img"> #}
            <h3 class="navbar-brand-text align-middle" style="letter-spacing: 10px">SUPERBLOG</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
                </li>
                <li class="nav-item active login-trigger">

                    {% if app.user %}
                        <div class="nav-link"><i class="fas fa-user-circle"></i></div>
                    
                        <div class="login">
                            <h6>Welcome {{ app.user.username }}!</h6>
                            {# {{ dump(app.user) }} #}
                            {# <a href="">Protected route</a> #}

                            <ul class="float-left">
                                <li><a href="/admin-panel">Admin panel</a></li>
                            </ul>
                            <a href="{{ logout_url("secured_area") }}" class="btn btn-primary float-right mt-3">Logout</a>

                        </div>

                    {% else %}

                    
                        {# <a href="/connect/auth0" class="btn btn-primary">login</a> #}
                        <a href="/connect/auth0" class="nav-link"><i class="fas fa-user-circle"></i></a>
                        
                    {% endif %}

                   
                        
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>